<div class="well no-padding">
    <%= form_for(@institute, :html => { class: 'form-horizontal' }) do |f| %>
        
        <% if @institute.errors.any? %>
            <div class="alert alert-error">
                <h4><%= pluralize(@institute.errors.count, "error") %> prohibited this pessoa from being saved:</h4>
                <ul>
                    <%= @institute.errors.full_messages.each do |message| %>
                        <li><%= message %></li>
                    <% end %>
                </ul>
            </div>
        <% end %>

            <div class="control-group span5 no-margin-left">
                <%= f.label :name, 'Nome:', class: 'control-label' %>
                <div class="controls">
                    <%= f.text_field :name, required: true, class: 'input-block-level' %>
                </div>
            </div>
            <div class="control-group span5">
                <%= f.label :address, 'Endereço:', class: 'control-label' %>
                <div class="controls">
                    <%= f.text_field :address, required: true, class: 'input-block-level' %>
                </div>
            </div>
            <div class="control-group span2">
                <%= f.label :number, 'Número:', class: 'control-label' %>
                <div class="controls" style="margin-left: 60px;">
                    <%= f.text_field :number, required: true, class: 'input-block-level' %>
                </div>
            </div>
            <div class="control-group span4 no-margin-left">
                <%= f.label :district, 'Bairro:', class: 'control-label' %>
                <div class="controls">
                    <%= f.text_field :district, required: true, class: 'input-block-level' %>
                </div>
            </div>
            <div class="control-group span4">
                <%= f.label :state, 'Estado:', class: 'control-label' %>
                <div class="controls">
                    <%= f.select :state_id, options_for_select(State.all.map{|s|[s.name, s.id]}, :selected => @institute.state_id), {:include_blank => '- Selecione -'}, { :class => 'span12', :required => true } %>
                </div>
            </div>
            <div class="control-group span4">
                <%= f.label :city, 'Cidade:', class: 'control-label' %>
                <div class="controls">
                    <%= f.text_field :city, required: true, class: 'input-block-level' %>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="control-group span3 no-margin-left">
                <%= f.label :zip_code, 'CEP:', class: 'control-label' %>
                <div class="controls">
                    <%= f.text_field :zip_code, required: true, class: 'input-block-level' %>
                </div>
            </div>
            <div class="control-group span3">
                <%= f.label :phone, 'Telefone:', class: 'control-label' %>
                <div class="controls">
                    <%= f.text_field :phone, required: true, class: 'input-block-level' %>
                </div>
            </div>
            <div class="control-group span6">
                <%= f.label :person, 'Responsável:', class: 'control-label' %>
                <div class="controls">
                    <%= f.select :person_id, options_for_select(Person.all.map{|s|[s.name, s.id]}, :selected => @institute.person_id), {:include_blank => '- Selecione -'}, { :class => 'span12', :required => true } %>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="form-actions">
                <%= f.submit ( f.object.new_record? ? "Cadastrar" : "Atualizar"), class: "btn btn-primary" %>
            </div>
    <% end %>
</div>
