<div class="row-fluid link-cadastro">
    <%= link_to new_great_area_path do %>
        <i class="icon-plus"></i> Adicionar Grande área
    <% end %>
</div>
<div class="row-fluid">
    <div class="span12">
        <div class="top-bar">
            <h3><i class="icon-th-list"></i> Listar Grandes Áreas</h3>
        </div>
        <div class="well no-padding">
            <table class="data-table">
                <thead>
                    <tr>
                                                    <th>Codigo</th>
                                                    <th>Titulo</th>
                                                    <th>Descricao</th>
                                                <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <% @great_areas.each do |great_area| %>
                        <tr>
                                                            <td><%= great_area.codigo %></td>
                                                            <td><%= great_area.titulo %></td>
                                                            <td><%= great_area.descricao %></td>
                                                        <td><%= link_to 'Visualizar', great_area %></td>
                            <td><%= link_to 'Editar', edit_great_area_path(great_area) %></td>
                            <td><%= link_to 'Deletar', great_area, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                        </tr>
                    <% end %>
                </tbody>
            </table>
        </div>
    </div>
</div>
