<div class="row-fluid link-cadastro">
    <%= link_to new_nature_financing_path do %>
        <i class="icon-plus"></i> Adicionar Natureza de Financiamento
    <% end %>
</div>
<div class="row-fluid">
    <div class="span12">
        <div class="top-bar">
            <h3><i class="icon-th-list"></i> Lista de Naturezas de Financiamento</h3>
        </div>
        <div class="well no-padding">
            <table class="data-table">
                <thead>
                    <tr>
                                                    <th>Título</th>
                                                    <th>Descrição</th>
                                                    <th>Instituição</th>
                                                <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <% @nature_financings.each do |nature_financing| %>
                        <tr>
                                                            <td><%= nature_financing.title %></td>
                                                            <td><%= nature_financing.description %></td>
                                                            <td><%= nature_financing.institute.name %></td>
                                                        <td><%= link_to 'Visualizar', nature_financing %></td>
                            <td><%= link_to 'Editar', edit_nature_financing_path(nature_financing) %></td>
                            <td><%= link_to 'Deletar', nature_financing, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                        </tr>
                    <% end %>
                </tbody>
            </table>
        </div>
    </div>
</div>
