<div class="row-fluid link-cadastro">
    <%= link_to new_specialty_path do %>
        <i class="icon-plus"></i> Adicionar specialty
    <% end %>
</div>
<div class="row-fluid">
    <div class="span12">
        <div class="top-bar">
            <h3><i class="icon-th-list"></i> Lista de Specialties</h3>
        </div>
        <div class="well no-padding">
            <table class="data-table">
                <thead>
                    <tr>
                                                    <th>Codigo</th>
                                                    <th>Titulo</th>
                                                    <th>Descricao</th>
                                                    <th>Sub_area</th>
                                                <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <% @specialties.each do |specialty| %>
                        <tr>
                                                            <td><%= specialty.codigo %></td>
                                                            <td><%= specialty.titulo %></td>
                                                            <td><%= specialty.descricao %></td>
                                                            <td><%= specialty.sub_area %></td>
                                                        <td><%= link_to 'Visualizar', specialty %></td>
                            <td><%= link_to 'Editar', edit_specialty_path(specialty) %></td>
                            <td><%= link_to 'Deletar', specialty, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                        </tr>
                    <% end %>
                </tbody>
            </table>
        </div>
    </div>
</div>
