<div class="well no-padding">
    <%= form_for(@project, :html => { class: 'form-horizontal' }) do |f| %>
        
        <% if @project.errors.any? %>
            <div class="alert alert-error">
                <h4><%= pluralize(@project.errors.count, "error") %> não foi possível salvar este registro:</h4>
                <ul>
                    <% @project.errors.full_messages.each do |message| %>
                        <li><%= message %></li>
                    <% end %>
                </ul>
            </div>
        <% end %>

            <div class="control-group span6 no-margin-left">
                <%= f.label :title, 'Título:', class: 'control-label' %>
                <div class="controls">
                    <%= f.text_field :title, required: true, class: 'input-block-level' %>
                </div>
            </div>
            <div class="control-group span6">
                <%= f.label :department, 'Departamento:', class: 'control-label' %>
                <div class="controls">
                    <%= f.select :department_id, options_for_select( current_institute.departments.map{|s| [s.name, s.id]}, :selected => @project.department_id), {:include_blank => '- Selecione -'}, { :class => 'span12', :required => true } %>
                </div>
            </div>
            <div class="control-group span3 no-margin-left">
                <%= f.label :date_start, 'Data Início:', class: 'control-label' %>
                <div class="controls">
                    <%= f.date_field :date_start, required: true, class: 'input-block-level' %>
                </div>
            </div>
            <div class="control-group span3">
                <%= f.label :date_end, 'Data Término:', class: 'control-label' %>
                <div class="controls">
                    <%= f.date_field :date_end, required: true, class: 'input-block-level' %>
                </div>
            </div>
            <div class="control-group span6">
                <%= f.label :keywords, 'Palavras-Chave:', class: 'control-label' %>
                <div class="controls">
                    <%= f.text_field :keywords, required: true, class: 'input-block-level' %>
                </div>
            </div>
            <div class="control-group span6 no-margin-left">
                <%= f.label :email, 'E-mail:', class: 'control-label' %>
                <div class="controls">
                    <%= f.text_field :email, required: true, class: 'input-block-level' %>
                </div>
            </div>
            <div class="control-group span6">
                <%= f.label :category, 'Categoria:', class: 'control-label' %>
                <div class="controls">
                    <%= f.select :category_id, options_for_select(current_institute.categories.map{|s| [s.title, s.id] }, :selected => @project.category_id), {:include_blank => '- Selecione -'}, { :class => 'span12', :required => true } %>
                </div>
            </div>
            <div class="control-group span6 no-margin-left">
                <%= f.label :great_area, 'Grande Área:', class: 'control-label' %>
                <div class="controls">
                    <%= f.select :great_area_id, options_for_select(GreatArea.all.map{|s|[s.title, s.id]}, :selected => @project.great_area_id), {:include_blank => '- Selecione -'}, { :class => 'span12', :required => true } %>
                </div>
            </div>
            <div class="control-group span6">
                <%= f.label :area, 'Área:', class: 'control-label' %>
                <div class="controls">
                    <%= f.select :area_id, options_for_select(Area.all.map{|s|[s.title, s.id]}, :selected => @project.area_id), {:include_blank => '- Selecione -'}, { :class => 'span12', :required => true } %>
                </div>
            </div>
            <div class="control-group span6 no-margin-left">
                <%= f.label :sub_area, 'Sub Área:', class: 'control-label' %>
                <div class="controls">
                    <%= f.select :sub_area_id, options_for_select(SubArea.all.map{|s|[s.title, s.id]}, :selected => @project.sub_area_id), {:include_blank => '- Selecione -'}, { :class => 'span12', :required => true } %>
                </div>
            </div>
            <div class="control-group span6">
                <%= f.label :speciality, 'Especialidade:', class: 'control-label' %>
                <div class="controls">
                    <%= f.select :speciality_id, options_for_select(Speciality.all.map{|s|[s.title, s.id]}, :selected => @project.speciality_id), {:include_blank => '- Selecione -'}, { :class => 'span12', :required => true } %>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="control-group span12 no-margin-left">
                <%= f.label :short_description, 'Descrição:', class: 'control-label' %>
                <div class="controls">
                    <%= f.text_area :short_description, required: true, class: 'input-block-level' %>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="control-group span12 no-margin-left">
                <%= f.label :introduction, 'Justificativa:', class: 'control-label' %>
                <div class="controls">
                    <%= f.text_area :introduction, required: true, class: 'input-block-level' %>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="control-group span12 no-margin-left">
                <%= f.label :gols, 'Objetivos:', class: 'control-label' %>
                <div class="controls">
                    <%= f.text_area :gols, required: true, class: 'input-block-level' %>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="control-group span12 no-margin-left">
                <%= f.label :methodology, 'Metodologia:', class: 'control-label' %>
                <div class="controls">
                    <%= f.text_area :methodology, required: true, class: 'input-block-level' %>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="control-group span12 no-margin-left">
                <%= f.label :references, 'Referências:', class: 'control-label' %>
                <div class="controls">
                    <%= f.text_area :references, required: true, class: 'input-block-level' %>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="control-group span12 no-margin-left">
                <%= f.label :description_estimate, 'Desc. do Orçamento:', class: 'control-label' %>
                <div class="controls">
                    <%= f.text_area :description_estimate, required: true, class: 'input-block-level' %>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="control-group span4 no-margin-left">
                <%= f.label :value_estimate, 'Valor do Orçamento:', class: 'control-label' %>
                <div class="controls">
                    <%= f.text_field :value_estimate, required: true, class: 'input-block-level' %>
                </div>
            </div>
            <div class="control-group span4">
                <%= f.label :financial_institution, 'Financiadora:', class: 'control-label' %>
                <div class="controls">
                    <%= f.select :financial_institution_id, options_for_select(current_institute.financial_institutions.map{|s|[s.name, s.id]}, :selected => @project.financial_institution_id), {:include_blank => '- Selecione -'}, { :class => 'span12', :required => true } %>
                </div>
            </div>
            <div class="control-group span4">
                <%= f.label :nature_financing, 'Natureza do Financ.:', class: 'control-label' %>
                <div class="controls">
                    <%= f.select :nature_financing_id, options_for_select(current_institute.nature_financings.map{|s|[s.title, s.id]}, :selected => @project.nature_financing_id), {:include_blank => '- Selecione -'}, { :class => 'span12', :required => true } %>
                </div>
            </div>
            <div class="control-group span4 no-margin-left">
                <%= f.label :date_start_financing, 'Data Início(fomento):', class: 'control-label' %>
                <div class="controls">
                    <%= f.date_field :date_start_financing, required: true, class: 'input-block-level' %>
                </div>
            </div>
                    <div class="control-group span4">
                <%= f.label :date_end_financing, 'Data Térm(fomento):', class: 'control-label' %>
                <div class="controls">
                    <%= f.date_field :date_end_financing, required: true, class: 'input-block-level' %>
                </div>
            </div>
            
        <div class="clearfix"></div>
        <div class="form-actions">
            <%= f.submit ( f.object.new_record? ? "Cadastrar" : "Atualizar"), class: "btn btn-primary" %>
        </div>
    <% end %>
</div>
