<div class="row-fluid">
    <div class="span12">
        <div id="top1" class="top-bar">
            <h3><i class="icon-list-alt"></i> Projeto: <%= @project.title %></h3>
        </div>
        <div class="well no-padding">
            <% unless notice.nil? %>
                <div class="alert"><%= notice %></div>
            <% end %>
                <div class="control-group span12 no-margin-left">
                    <label class="control-label">Departamento:</label>
                    <div class="controls">
                        <%= @project.department.name if @project.department %>
                    </div>
                </div>
                <div class="control-group span12 no-margin-left">
                    <label class="control-label">Data Início:</label>
                    <div class="controls">
                        <%= @project.date_start.to_s(:custom) %>
                    </div>
                </div>
                <div class="control-group span12 no-margin-left">
                    <label class="control-label">Data Término:</label>
                    <div class="controls">
                        <%= @project.date_end.to_s(:custom) %>
                    </div>
                </div>
                <div class="control-group span12 no-margin-left">
                    <label class="control-label">Palavras-chave:</label>
                    <div class="controls">
                        <%= @project.keywords %>
                    </div>
                </div>
                <div class="control-group span12 no-margin-left">
                    <label class="control-label">Categoria:</label>
                    <div class="controls">
                        <%= @project.category.title if @project.category %>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
                    <div id="top2" class="top-bar">
                        <h3><i class="icon-edit"></i> Adicionar Participantes</h3>
                    </div>
                    <%= render 'form_participants' %>
            <div class="clearfix"></div>
            <div id="top3" class="top-bar">
                <h3><i class="icon-list-alt"></i>Participantes do Projeto</h3>
            </div>
            <div class="well no-padding">
                <div class="control-group span12 no-margin-left">
                    <% @project.participants.each do |participant| %>
                       <div class="controls" style="margin-left: 10px;"> <li><%= participant.person.name %> - <%= participant.role %> ( <%= participant.weekly_time %> horas/semana ) <%= link_to '::Excluir Participante', removeparticipator_path(id: @project.id, id_participant: participant.id), method: :delete, data: { confirm: 'Você tem certeza que deseja excluir este participante do projeto?' } %></li></div>
                    <% end %>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
</div>

<script>
    $(function() {
        $("a.top-bar-minimize").off("click").each(function() {
            $(this).attr("href", $(this).parents().parents().prop("id"));
        }).click(function() {
            var divId = $(this).attr("href");
            
            if ( $("#" + divId).hasClass("top-bar-closed") ) {
                $("#" + divId).removeClass("top-bar-closed");
                $("#" + divId).next(".well").slideDown({duration: 1000, easing: 'easeOutBack'});
            }
            else {
                $("#" + divId).next(".well").slideUp('medium', function() {
                    $("#" + divId).addClass("top-bar-closed"); 
                });
            }
            
            return false;
        });
    });
</script>
