<div class="row-fluid">
    <div class="span12">
        <div id="top1" class="top-bar">
            <h3><i class="icon-list-alt"></i> Projeto: <%= @project.title %></h3>
        </div>
        <div class="well no-padding">
            <% unless notice.nil? %>
                <div class="alert"><%= notice %></div>
            <% end %>
                <div class="control-group span12 no-margin-left">
                    <label class="control-label">Departamento:</label>
                    <div class="controls">
                        <%= @project.department.name if @project.department %>
                    </div>
                </div>
                <div class="control-group span12 no-margin-left">
                    <label class="control-label">Data Início:</label>
                    <div class="controls">
                        <%= @project.date_start.to_s(:custom) %>
                    </div>
                </div>
                <div class="control-group span12 no-margin-left">
                    <label class="control-label">Data Término:</label>
                    <div class="controls">
                        <%= @project.date_end.to_s(:custom) %>
                    </div>
                </div>
                <div class="control-group span12 no-margin-left">
                    <label class="control-label">Palavras-chave:</label>
                    <div class="controls">
                        <%= @project.keywords %>
                    </div>
                </div>
                <div class="control-group span12 no-margin-left">
                    <label class="control-label">Categoria:</label>
                    <div class="controls">
                        <%= @project.category.title if @project.category %>
                    </div>
                </div>
            </div>
            
            <div class="clearfix"></div>
            <div id="top2" class="top-bar">
                <h3><i class="icon-edit"></i> Adicionar Atividades</h3>
            </div>
            <%= render 'form_activities' %>
            
            <div class="clearfix"></div>
            <div id="top3" class="top-bar">
                <h3><i class="icon-list-alt"></i>Atividades do Projeto</h3>
            </div>
            <div class="well no-padding">
                <div class=" span12 no-margin-left">
                    <table class="data-table">
                        <thead>
                            <tr>
                                <th>Descrição</th>
                                <th>Responsável</th>
                                <th>Date Iníco</th>
                                <th>Date Fim</th>
                                <th>Situação</th>
                                <th>Percentual</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                        <% @project.activities.each do |activity| %>
                            <tr>
                                <td><%= activity.description %></td>
                                <td><%= activity.responsible.name %></td>
                                <td><%= activity.date_start.to_s(:custom) %></td>
                                <td><%= activity.date_end.to_s(:custom) %></td>
                                <td><%= activity.situation %></td>
                                <td><%= activity.percent_run %></td>
                                <td><%= link_to 'Excluir', removeactivity_path(id: @project.id, id_activity: activity.id), method: :delete, data: { confirm: 'Você tem certeza que deseja excluir esta atividade do projeto?' } %></td>
                            </tr>
                        <% end %>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="clearfix"></div>

            <div id="top2" class="top-bar">
                <h3><i class="icon-edit"></i> Adicionar Participantes</h3>
            </div>
            <%= render 'form_participants' %>
            <div class="clearfix"></div>
            <div id="top3" class="top-bar">
                <h3><i class="icon-list-alt"></i>Participantes do Projeto</h3>
            </div>
            <div class="well no-padding">
                <div class="control-group span12 no-margin-left">
                    <table class="data-table">
                        <thead>
                            <tr>
                                <th>Participante</th>
                                <th>Função</th>
                                <th>Carga Horária Semanal</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <% @project.participants.each do |project_participant| %>
                                <tr>
                                <td><%= project_participant.person.name if project_participant.person %></td>
                                <td><%= project_participant.role %></td>
                                <td><%= project_participant.weekly_time %></td>
                                <td><%= link_to 'Excluir', removeparticipator_path(id: @project.id, id_participant: project_participant.id), method: :delete, data: { confirm: 'Você tem certeza que deseja excluir este participante do projeto?' } %></td>
                                </tr>
                            <% end %>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="clearfix"></div>

        </div>
</div>

<script>
    $(function() {
        $("a.top-bar-minimize").off("click").each(function() {
            $(this).attr("href", $(this).parents().parents().prop("id"));
        }).click(function() {
            var divId = $(this).attr("href");
            
            if ( $("#" + divId).hasClass("top-bar-closed") ) {
                $("#" + divId).removeClass("top-bar-closed");
                $("#" + divId).next(".well").slideDown({duration: 1000, easing: 'easeOutBack'});
            }
            else {
                $("#" + divId).next(".well").slideUp('medium', function() {
                    $("#" + divId).addClass("top-bar-closed"); 
                });
            }
            
            return false;
        });
    });
</script>
