<div class="row-fluid">
    <div class="span12">
        <div class="top-bar">
            <h3><i class="icon-list-alt"></i> Projeto: <%= @project.title %></h3>
        </div>
        <div class="well no-padding">
            <% unless notice.nil? %>
                <div class="alert"><%= notice %></div>
            <% end %>
                <div class="control-group span12 no-margin-left">
                    <label class="control-label">Departamento:</label>
                    <div class="controls">
                        <%= @project.department.name if @project.department %>
                    </div>
                </div>
                <div class="control-group span12 no-margin-left">
                    <label class="control-label">Data Início:</label>
                    <div class="controls">
                        <%= @project.date_start.to_s(:custom) %>
                    </div>
                </div>
                <div class="control-group span12 no-margin-left">
                    <label class="control-label">Data Término:</label>
                    <div class="controls">
                        <%= @project.date_end.to_s(:custom) %>
                    </div>
                </div>
                <div class="control-group span12 no-margin-left">
                    <label class="control-label">Palavras-chave:</label>
                    <div class="controls">
                        <%= @project.keywords %>
                    </div>
                </div>
                <div class="control-group span12 no-margin-left">
                    <label class="control-label">Categoria:</label>
                    <div class="controls">
                        <%= @project.category.title if @project.category %>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="top-bar">
                <h3><i class="icon-list-alt"></i>Participantes do Projeto</h3>
            </div>
            <div class="well no-padding">
                
                <div class="control-group span12 no-margin-left">
                    <% @project.participants.each do |participant| %>
                       <div class="controls" style="margin-left: 10px;"> <li><%= participant.person.name %> - <%= participant.role %> ( <%= participant.weekly_time %> horas/semana ) </li></div>
                    <% end %>
                </div>
            </div>
            <div class="clearfix"></div>
    </div>
</div>
