<div class="row-fluid link-cadastro">
    <%= link_to new_project_path do %>
        <i class="icon-plus"></i> Adicionar Projeto
    <% end %>
</div>
<div class="row-fluid">
    <div class="span12">
        <div class="top-bar">
            <h3><i class="icon-th-list"></i> Lista de Projetos</h3>
        </div>
        <div class="well no-padding">
            <table class="data-table">
                <thead>
                    <tr>
                        <th>Título</th>
                        <th>Departamento</th>
                        <th>Data Inicio</th>
                        <th>Data Término</th>
                        <th>Categoria</th>
                        <th>Grande Área</th>
                        <th>Área</th>
                        <th>Sub Área</th>
                        <th>Valor Estimado</th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <% @projects.each do |project| %>
                        <tr>
                            <td><%= project.title %></td>
                            <td><%= project.department.name %></td>
                            <td><%= project.date_start %></td>
                            <td><%= project.date_end %></td>
                            <td><%= project.category.title %></td>
                            <td><%= project.great_area.title %></td>
                            <td><%= project.area.title %></td>
                            <td><%= project.sub_area.title %></td>
                            <td><%= project.value_estimate %></td>
                            <td><%= link_to 'Visualizar', project %></td>
                            <td><%= link_to 'Editar', edit_project_path(project) %></td>
                            <td><%= link_to 'Deletar', project, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                        </tr>
                    <% end %>
                </tbody>
            </table>
        </div>
    </div>
</div>
