<div class="row-fluid">
    <div class="span12">
        <div class="top-bar">
            <h3><i class="icon-list-alt"></i> Visualizar Projeto</h3>
        </div>
        <div class="well no-padding">
            <% unless notice.nil? %>
                <div class="alert"><%= notice %></div>
            <% end %>
                <div class="control-group span12 no-margin-left">
                    <label class="control-label">Título:</label>
                    <div class="controls">
                        <%= @project.title %>
                    </div>
                </div>
                <div class="control-group span12 no-margin-left">
                    <label class="control-label">Departamento:</label>
                    <div class="controls">
                        <%= @project.department.name if @project.department %>
                    </div>
                </div>
                <div class="control-group span12 no-margin-left">
                    <label class="control-label">Data Início:</label>
                    <div class="controls">
                        <%= @project.date_start.to_s(:custom) %>
                    </div>
                </div>
                <div class="control-group span12 no-margin-left">
                    <label class="control-label">Data Término:</label>
                    <div class="controls">
                        <%= @project.date_end.to_s(:custom) %>
                    </div>
                </div>
                <div class="control-group span12 no-margin-left">
                    <label class="control-label">Palavras-chave:</label>
                    <div class="controls">
                        <%= @project.keywords %>
                    </div>
                </div>
                <div class="control-group span12 no-margin-left">
                    <label class="control-label">E-mail:</label>
                    <div class="controls">
                        <%= @project.email %>
                    </div>
                </div>
                <div class="control-group span12 no-margin-left">
                    <label class="control-label">Categoria:</label>
                    <div class="controls">
                        <%= @project.category.title if @project.category %>
                    </div>
                </div>
                <div class="control-group span12 no-margin-left">
                    <label class="control-label">Grande Área:</label>
                    <div class="controls">
                        <%= @project.great_area.title if @project.great_area %>
                    </div>
                </div>
                <div class="control-group span12 no-margin-left">
                    <label class="control-label">Área:</label>
                    <div class="controls">
                        <%= @project.area.title if @project.area %>
                    </div>
                </div>
                <div class="control-group span12 no-margin-left">
                    <label class="control-label">Sub Área:</label>
                    <div class="controls">
                        <%= @project.sub_area.title if @project.sub_area %>
                    </div>
                </div>
                <div class="control-group span12 no-margin-left">
                    <label class="control-label">Especialidade:</label>
                    <div class="controls">
                        <%= @project.speciality.title if @project.speciality %>
                    </div>
                </div>
                <div class="control-group span12 no-margin-left">
                    <label class="control-label">Descrição:</label>
                    <div class="controls">
                        <%= @project.short_description %>
                    </div>
                </div>
                <div class="control-group span12 no-margin-left">
                    <label class="control-label">Justificativa:</label>
                    <div class="controls">
                        <%= @project.introduction %>
                    </div>
                </div>
                <div class="control-group span12 no-margin-left">
                    <label class="control-label">Objetivos:</label>
                    <div class="controls">
                        <%= @project.gols %>
                    </div>
                </div>
                <div class="control-group span12 no-margin-left">
                    <label class="control-label">Metodologia:</label>
                    <div class="controls">
                        <%= @project.methodology %>
                    </div>
                </div>
                <div class="control-group span12 no-margin-left">
                    <label class="control-label">Referências:</label>
                    <div class="controls">
                        <%= @project.references %>
                    </div>
                </div>
                <div class="control-group span12 no-margin-left">
                    <label class="control-label">Desc. do Orçamento:</label>
                    <div class="controls">
                        <%= @project.description_estimate %>
                    </div>
                </div>
                <div class="control-group span12 no-margin-left">
                    <label class="control-label">Valor do Orçamento:</label>
                    <div class="controls">
                        <%= @project.value_estimate %>
                    </div>
                </div>
                <div class="control-group span12 no-margin-left">
                    <label class="control-label">Financiadora:</label>
                    <div class="controls">
                        <%= @project.financial_institution.name if @project.financial_institution %>
                    </div>
                </div>
                <div class="control-group span12 no-margin-left">
                    <label class="control-label">Natureza do Financ.:</label>
                    <div class="controls">
                        <%= @project.nature_financing.title if @project.nature_financing %>
                    </div>
                </div>
                <div class="control-group span12 no-margin-left">
                    <label class="control-label">Data Início(fomento):</label>
                    <div class="controls">
                        <%= @project.date_start_financing.to_s(:custom) %>
                    </div>
                </div>
                <div class="control-group span12 no-margin-left">
                    <label class="control-label">Data Térm(fomento):</label>
                    <div class="controls">
                        <%= @project.date_end_financing.to_s(:custom) %>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="top-bar">
                <h3><i class="icon-list-alt"></i>Participantes do Projeto</h3>
            </div>
            <div class="well no-padding">
                
                <div class="control-group span12 no-margin-left">
                    <% @project.participants.each do |participant| %>
                       <div class="controls" style="margin-left: 10px;"> <li><%= participant.person.name %> - <%= participant.role %> ( <%= participant.weekly_time %> horas/semana ) </li></div>
                    <% end %>
                </div>
            </div>
            <div class="clearfix"></div>
    </div>
</div>
