<div class="row-fluid link-cadastro">
    <%= link_to new_sub_area_path do %>
        <i class="icon-plus"></i> Adicionar Sub-Área
    <% end %>
</div>
<div class="row-fluid">
    <div class="span12">
        <div class="top-bar">
            <h3><i class="icon-th-list"></i> Lista de Sub -áreas</h3>
        </div>
        <div class="well no-padding">
            <table class="data-table">
                <thead>
                    <tr>
                                                    <th>Codigo</th>
                                                    <th>Descricao</th>
                                                    <th>Area</th>
                                                <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <% @sub_areas.each do |sub_area| %>
                        <tr>
                                                            <td><%= sub_area.codigo %></td>
                                                            <td><%= sub_area.descricao %></td>
                                                            <td><%= sub_area.area %></td>
                                                        <td><%= link_to 'Visualizar', sub_area %></td>
                            <td><%= link_to 'Editar', edit_sub_area_path(sub_area) %></td>
                            <td><%= link_to 'Deletar', sub_area, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                        </tr>
                    <% end %>
                </tbody>
            </table>
        </div>
    </div>
</div>
