<div class="row-fluid link-cadastro">
    <%= link_to new_area_path do %>
        <i class="icon-plus"></i> Adicionar Área
    <% end %>
</div>
<div class="row-fluid">
    <div class="span12">
        <div class="top-bar">
            <h3><i class="icon-th-list"></i> Lista de Áreas</h3>
        </div>
        <div class="well no-padding">
            <table class="data-table">
                <thead>
                    <tr>
                        <th>Código Capes</th>
                        <th>Título</th>
                        <th>Descrição</th>
                        <th>Grande Área</th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <% @areas.each do |area| %>
                        <tr>
                            <td><%= area.code_capes %></td>
                            <td><%= area.title %></td>
                            <td><%= area.description %></td>
                            <td><%= area.great_area.title %></td>
                            <td><%= link_to 'Visualizar', area %></td>
                            <td><%= link_to 'Editar', edit_area_path(area) %></td>
                            <td><%= link_to 'Deletar', area, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                        </tr>
                    <% end %>
                </tbody>
            </table>
        </div>
    </div>
</div>
