<div class="row-fluid link-cadastro">
    <%= link_to new_area_path do %>
        <i class="icon-plus"></i> Adicionar area
    <% end %>
</div>
<div class="row-fluid">
    <div class="span12">
        <div class="top-bar">
            <h3><i class="icon-th-list"></i> Lista de Areas</h3>
        </div>
        <div class="well no-padding">
            <table class="data-table">
                <thead>
                    <tr>
                                                    <th>Codigo</th>
                                                    <th>Descricao</th>
                                                <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <% @areas.each do |area| %>
                        <tr>
                                                            <td><%= area.codigo %></td>
                                                            <td><%= area.descricao %></td>
                                                        <td><%= link_to 'Visualizar', area %></td>
                            <td><%= link_to 'Editar', edit_area_path(area) %></td>
                            <td><%= link_to 'Deletar', area, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                        </tr>
                    <% end %>
                </tbody>
            </table>
        </div>
    </div>
</div>
