<div class="row-fluid link-cadastro">
    <%= link_to new_testis_path do %>
        <i class="icon-plus"></i> Adicionar testis
    <% end %>
</div>
<div class="row-fluid">
    <div class="span12">
        <div class="top-bar">
            <h3><i class="icon-th-list"></i> Lista de Testes</h3>
        </div>
        <div class="well no-padding">
            <table class="data-table">
                <thead>
                    <tr>
                                                    <th>Codigo</th>
                                                    <th>Nome</th>
                                                <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <% @testes.each do |testis| %>
                        <tr>
                                                            <td><%= testis.codigo %></td>
                                                            <td><%= testis.nome %></td>
                                                        <td><%= link_to 'Visualizar', testis %></td>
                            <td><%= link_to 'Editar', edit_testis_path(testis), class: 'btn btn-edit' %></td>
                            <td><%= link_to 'Deletar', testis, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-destroy' %></td>
                        </tr>
                    <% end %>
                </tbody>
            </table>
        </div>
    </div>
</div>
