<div class="row-fluid link-cadastro">
    <%= link_to new_category_path do %>
        <i class="icon-plus"></i> Adicionar category
    <% end %>
</div>
<div class="row-fluid">
    <div class="span12">
        <div class="top-bar">
            <h3><i class="icon-th-list"></i> Lista de Categories</h3>
        </div>
        <div class="well no-padding">
            <table class="data-table">
                <thead>
                    <tr>
                                                    <th>Title</th>
                                                    <th>Description</th>
                                                    <th>Institute</th>
                                                <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <% @categories.each do |category| %>
                        <tr>
                                                            <td><%= category.title %></td>
                                                            <td><%= category.description %></td>
                                                            <td><%= category.institute %></td>
                                                        <td><%= link_to 'Visualizar', category %></td>
                            <td><%= link_to 'Editar', edit_category_path(category) %></td>
                            <td><%= link_to 'Deletar', category, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                        </tr>
                    <% end %>
                </tbody>
            </table>
        </div>
    </div>
</div>
