<div class="well no-padding">
    <%= form_for(@activity, :html => { class: 'form-horizontal' }) do |f| %>
        
        <% if @activity.errors.any? %>
            <div class="alert alert-error">
                <h4><%= pluralize(@activity.errors.count, "error") %> não foi possível salvar este registro:</h4>
                <ul>
                    <% @activity.errors.full_messages.each do |message| %>
                        <li><%= message %></li>
                    <% end %>
                </ul>
            </div>
        <% end %>
            <div class="control-group span6 no-margin-left">
                <%= f.label :project, 'Projeto', class: 'control-label' %>
                <div class="controls">
                    <%= f.select :project_id, Project.all.collect {|p| [p.title]} %>
                </div>
            </div>
            <div class="control-group span6">
                <%= f.label :description, 'Descrição', class: 'control-label' %>
                <div class="controls">
                    <%= f.text_field :description, required: true, class: 'input-block-level' %>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="control-group span6 no-margin-left">
                <%= f.label :responsible_id, 'Responsável', class: 'control-label' %>
                <div class="controls">
                    <%= f.select :responsible_id, Person.all.collect {|p| [p.name, p.id ] } %>
                </div>
            </div>
            <div class="control-group span6 no-margin-left">
                <%= f.label :date_start, 'Data Inicio', class: 'control-label' %>
                <div class="controls">
                    <%= f.text_field :date_start, required: true, class: 'input-block-level' %>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="control-group span6 no-margin-left">
                <%= f.label :date_end, 'Data Final', class: 'control-label' %>
                <div class="controls">
                    <%= f.text_field :date_end, required: true, class: 'input-block-level' %>
                </div>
            </div>
            <div class="control-group span6 no-margin-left">
                <%= f.label :situation, 'Situação', class: 'control-label' %>
                <div class="controls">
                    <%= f.select :situation, options_for_select(@situations.collect { |s| [s[0].humanize, s[0]] }, selected: @activity.situation), {}, required: true, class: "input-block-level" %>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="control-group span6 no-margin-left">
                <%= f.label :percent_run, 'Percentual de Execução (%)', class: 'control-label' %>
                <div class="controls">
                    <%= f.text_field :percent_run, required: true, class: 'input-block-level' %>
                </div>
            </div>
            
        <div class="clearfix"></div>
        <div class="form-actions">
            <%= f.submit ( f.object.new_record? ? "Cadastrar" : "Atualizar"), class: "btn btn-primary" %>
        </div>
    <% end %>
</div>
