<div class="row-fluid link-cadastro">
    <%= link_to new_naturefinancing_path do %>
        <i class="icon-plus"></i> Adicionar Natureza de Financiamento
    <% end %>
</div>
<div class="row-fluid">
    <div class="span12">
        <div class="top-bar">
            <h3><i class="icon-th-list"></i> Lista de Natureza de Financiamento</h3>
        </div>
        <div class="well no-padding">
            <table class="data-table">
                <thead>
                    <tr>
                        <th>Codigo</th>
                        <th>Descricao</th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <% @naturefinancings.each do |naturefinancing| %>
                        <tr>
                                                            <td><%= naturefinancing.codigo %></td>
                                                            <td><%= naturefinancing.descricao %></td>
                                                        <td><%= link_to 'Visualizar', naturefinancing %></td>
                            <td><%= link_to 'Editar', edit_naturefinancing_path(naturefinancing) %></td>
                            <td><%= link_to 'Deletar', naturefinancing, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                        </tr>
                    <% end %>
                </tbody>
            </table>
        </div>
    </div>
</div>
