<!DOCTYPE html>
<html>
<head>
  <title>.:: Quero 10 ::.</title>
  <%= favicon_link_tag 'favicon.png' %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <!-- Top Fixed Bar -->
	<div class="navbar navbar-inverse navbar-fixed-top">

		<!-- Top Fixed Bar: Navbar Inner -->
		<div class="navbar-inner">

			<!-- Top Fixed Bar: Container -->
			<div class="container">

				<!-- Mobile Menu Button -->
				<a href="#">
					<button type="button" class="btn btn-navbar mobile-menu">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
				</a>
				<!-- / Mobile Menu Button -->

				<!-- / Logo / Brand Name -->
				<a class="brand" href="#"><%= image_tag("logo-topo.png", width: 40, height: 40) %></a>
				<!-- / Logo / Brand Name -->

				<!-- User Navigation -->
				<ul class="nav pull-right">
					
					<!-- User Navigation: Logout -->
						  <% if current_user %>
						  	<li class="dropdown">
									<a href="#">
										<i class="icon-user icon-white"></i> 
										<span class="hidden-phone"><% if current_user %><%= current_user.login %><% end %></span>
									</a>
								</li>
								<li>
									<%= link_to logout_path,  method: "delete" do %>
	    							<i class="icon-off icon-white"></i>
	    							<span class="hidden-phone">Logout</span>
									<% end %>
								</li>
						  <% else %>
						    <li><%= link_to "Login", 'login' %></a></li> 
						    <li><%= link_to "Não sou cadastrado", 'signup' %></a></li> 
						  <% end %>
					<!-- / User Navigation: Logout -->

				</ul>
				<!-- / User Navigation -->

			</div>
			<!-- / Top Fixed Bar: Container -->

		</div>
		<!-- / Top Fixed Bar: Navbar Inner -->

	</div>
	<!-- / Top Fixed Bar -->
	
	<!-- Content Container -->
	<div class="container">
	  <!-- Main Navigation: Box -->
		<div class="navbar navbar-inverse" id="nav">

			<!-- Main Navigation: Inner -->
			<div class="navbar-inner">

				<!-- Main Navigation: Nav -->
				<ul class="nav">
					
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">
							<i class="icon-plus"></i> Cadastrar <b class="caret"></b>
						</a>
						<ul class="dropdown-menu">
							<li>
								<%= link_to new_great_area_path do %>
              		<i class="icon-chevron-right"></i> Grandes Áreas
            		<% end %>
            	</li>
            	<li>
            		<%= link_to new_area_path do %>
              		<i class="icon-chevron-right"></i> Áreas
            		<% end %>
            	</li>
            	<li>
            		<%= link_to new_sub_area_path do %>
              		<i class="icon-chevron-right"></i> Sub Áreas
            		<% end %>
            	</li>
            	<li>
            		<%= link_to new_speciality_path do %>
              		<i class="icon-chevron-right"></i> Especialidades
            		<% end %>
            	</li>
            	<li>
            		<%= link_to new_category_path do %>
              		<i class="icon-chevron-right"></i> Categorias
            		<% end %>
            	</li>
            	<li>
            		<%= link_to new_department_path do %>
              		<i class="icon-chevron-right"></i> Departamentos
            		<% end %>
            	</li>
            	<li>
            		<%= link_to new_nature_financing_path do %>
              		<i class="icon-chevron-right"></i> Naturezas de Financiamento
            		<% end %>
            	</li>
            	<li>
            		<%= link_to new_financial_institution_path do %>
              		<i class="icon-chevron-right"></i> Instituições de Fomento
            		<% end %>
            	</li>
						</ul>
					</li>
					
					<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">
								<i class="icon-list"></i> Listar <b class="caret"></b>
							</a>
							<ul class="dropdown-menu">
								<li>
									<%= link_to great_areas_path do %>
	              		<i class="icon-chevron-right"></i> Grandes Áreas
	            		<% end %>
	            	</li>
	            	<li>
	            		<%= link_to areas_path do %>
	              		<i class="icon-chevron-right"></i> Áreas
	            		<% end %>
	            	</li>
	            	<li>
	            		<%= link_to sub_areas_path do %>
	              		<i class="icon-chevron-right"></i> Sub Áreas
	            		<% end %>
	            	</li>
	            	<li>
	            		<%= link_to specialities_path do %>
	              		<i class="icon-chevron-right"></i> Especialidades
	            		<% end %>
	            	</li>
	            	<li>
	            		<%= link_to categories_path do %>
	              		<i class="icon-chevron-right"></i> Categorias
	            		<% end %>
	            	</li>
	            	<li>
	            		<%= link_to departments_path do %>
	              		<i class="icon-chevron-right"></i> Departamentos
	            		<% end %>
	            	</li>
	            	<li>
	            		<%= link_to nature_financings_path do %>
	              		<i class="icon-chevron-right"></i> Naturezas de Financiamento
	            		<% end %>
	            	</li>
	            	<li>
	            		<%= link_to financial_institutions_path do %>
	              		<i class="icon-chevron-right"></i> Instituições de Fomento
	            		<% end %>
	            	</li>
							</ul>
					</li>
					
					<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">
								<i class="icon-group"></i> Pessoas <b class="caret"></b>
							</a>
							<ul class="dropdown-menu">
								<li>
									<%= link_to new_person_path do %>
	              		<i class="icon-plus"></i> Cadastrar
	            		<% end %>
	            	</li>
	            	<li>
	            		<%= link_to people_path do %>
	              		<i class="icon-list"></i> Listar
	            		<% end %>
	            	</li>
							</ul>
					</li>
					
					<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">
								<i class="icon-file-text"></i> Projetos <b class="caret"></b>
							</a>
							<ul class="dropdown-menu">
								<li>
									<%= link_to new_project_path do %>
	              		<i class="icon-plus"></i> Cadastrar
	            		<% end %>
	            	</li>
	            	<li>
	            		<%= link_to projects_path do %>
	              		<i class="icon-list"></i> Listar
	            		<% end %>
	            	</li>
							</ul>
					</li>
					
				</ul>
				<!-- / Main Navigation: Nav -->

			</div>
			<!-- / Main Navigation: Inner -->

		</div>
		<!-- / Main Navigation: Box -->
	  
    <%= yield %>
    
  </div>
  <!-- / Content Container -->
  
  <!-- Footer -->
	<footer class="footer">

			<!-- Footer Container -->
      <div class="container">
        <p>Projetos de Pesquisa Quero 10</p>
        <p>Github: <a href="https://github.com/elimds/quero10">https://github.com/elimds/quero10</a></p>
      </div>
      <!-- / Footer Container -->

	</footer>
	<!-- / Footer -->

</body>
</html>
