<!DOCTYPE html>
<html>
<head>
  <title>.:: Quero 10 ::.</title>
  <%= favicon_link_tag 'favicon.png' %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <!-- Top Fixed Bar -->
	<div class="navbar navbar-inverse navbar-fixed-top">

		<!-- Top Fixed Bar: Navbar Inner -->
		<div class="navbar-inner">

			<!-- Top Fixed Bar: Container -->
			<div class="container">

				<% unless current_user %>
				<%= form_for(:session, url: login_path) do |f| %>
				<ul class="nav pull-right">
					<li class="dropdown">
						<a href="/signup" class="cadastro">
							<i class="icon-edit icon-white"></i> 
							<span>Cadastre-se!</span>
						</a>
					</li>
					<li class="dropdown">
						<%= f.text_field :login, :placeholder => "Login" %> 
					</li>
					<li class="dropdown">
						<%= f.password_field :password, :placeholder => "Senha" %> 
					</li>
					<li class="dropdown">
						<%= f.submit "Enviar", :class => 'btn btn-primary', :style => 'margin:0px; width: 70px;' %>
					</li>
				</ul>
				<% end %>
				<% else %>
				<ul class="nav pull-right">
					<li class="dropdown">
						<a href="#">
							<i class="icon-user icon-white"></i> 
							<span class="hidden-phone"><% if current_user %><%= current_user.login %><% end %></span>
						</a>
					</li>
					<li>
						<%= link_to logout_path,  method: "delete" do %>
						<i class="icon-off icon-white"></i>
						<span class="hidden-phone">Logout</span>
						<% end %>
					</li>
				</ul>
				<% end %>
        <% if flash[:error] %>
        		<div class="clearfix"></div>
            <div class="errorlogin"><%= flash[:error] %></div>
        <% end %>
				
			</div>
			<!-- / Top Fixed Bar: Container -->

		</div>
		<!-- / Top Fixed Bar: Navbar Inner -->

	</div>
	<!-- / Top Fixed Bar -->
	
	<!-- Content Container -->
	<div class="container">
	  
    <%= yield %>
    
  </div>
  <!-- / Content Container -->
  
  <!-- Footer -->
	<footer class="footer">

			<!-- Footer Container -->
      <div class="container">
        <p>Projetos de Pesquisa Quero 10</p>
        <p>Github: <a href="https://github.com/elimds/quero10">https://github.com/elimds/quero10</a></p>
      </div>
      <!-- / Footer Container -->

	</footer>
	<!-- / Footer -->

</body>
</html>
